/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


.externalToolBuilders
bin
target
*.iml
rebel.xml
.metadata
.recommenders
RemoteSystemsTempFiles
Servers

# Eclipse
.classpath
.project
.settings/

# svn
.svn*

# Mac
.DS_Store

#logback
logs/

# Maven
log/
target/


*/.checkstyle

# TB default error screenshot folder
error-screenshots/


